<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TaskHubName" value="StressTestHub" />
    <add key="MaxConcurrentActivities" value="100" />
    <add key="MaxConcurrentOrchestrations" value="100" />
    <add key="DriverOrchestrationIterations" value="20" />
    <add key="DriverOrchestrationParallelTasks" value="40" />
    <add key="ChildOrchestrationParallelTasks" value="10" />
    <add key="ChildOrchestrationSerialTasks" value="5" />
    <add key="TestTimeoutInSeconds" value="86400" />
    <add key="TestTaskMaxDelayInMinutes" value="5" />
  </appSettings>
  <connectionStrings>
    <add name="AzureStorage" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
</configuration>
