version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
    ignore:
      - dependency-name: "*"
        update-types: 
          - "version-update:semver-major"
