<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://127.0.0.1:10002/" />
    <add key="TaskHubName" value="StressTestHub" />
    <add key="CompressOrchestrationState" value="false"/>
    <add key="MaxConcurrentActivities" value="100"/>
    <add key="MaxConcurrentOrchestrations" value="100"/>
    <add key="DriverOrchestrationIterations" value="20"/>
    <add key="DriverOrchestrationParallelTasks" value="40"/>
    <add key="ChildOrchestrationParallelTasks" value="10"/>
    <add key="ChildOrchestrationSerialTasks" value="5"/>
    <add key="TestTimeoutInSeconds" value="86400"/>
    <add key="TestTaskMaxDelayInMinutes" value="5"/>
  </appSettings>
  <connectionStrings>
    <!-- Service Bus connection string -->
    <add name="Microsoft.ServiceBus.ConnectionString" connectionString="[Enter you connection string here]" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="DurableTask" switchName="mySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear />
          <!--add name="configConsoleListener"
            type=" TaskHubStressTest.OrchestrationConsoleTraceListener,  TaskHubStressTest"
               traceOutputOptions="DateTime" /-->
          <add name="configFileTraceListener" type=" TaskHubStressTest.OrchestrationFileTraceListener,  TaskHubStressTest" initializeData="Trace.log" traceOutputOptions="DateTime" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="mySwitch" value="Verbose" />
    </switches>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>