<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-packages" value="./local-packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <!--
    Package source mapping ensures that the DTFx packages under test are ONLY
    resolved from the local-packages feed.
  -->
  <packageSourceMapping>
    <packageSource key="local-packages">
      <package pattern="Microsoft.Azure.DurableTask.Core" />
      <package pattern="Microsoft.Azure.DurableTask.Emulator" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
