<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="ServiceBusConnectionString" value="" />
    <add key="TaskHubName" value="test" />
  </appSettings>
  <runtime>
  </runtime>
</configuration>